.Reviews {
  .review-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 415px;
    background-color: #F3F3F3;

    padding: 90px 60px 30px 60px;

    .name {
      margin-top: 20px;
      font-size: 18px;
    }

    .review-txt {
      text-align: center;
      margin-top: 20px;
      font-size: 17px;
      line-height: 25.5px;
      font-weight: 400;
    }

    .review-footer {
      display: flex;
      width: 100%;
      padding-top: 60px;
      justify-content: flex-end;
    }
  }
}