@import '../../../assets/scss/Globals.scss';

.MobileFooter {
  background-color: '#FAFAFA';

  .footer-top {

    .dropdown-item-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      
      .dropdown-item-title {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  .footer-bottom {
    .advertise-slider {
      padding: 10px 0
    }

    .card-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .card-img {
        margin: 20px 10px;
        max-width: 40px;
      }
    }

    .copyright {
      text-align: center;
      font-size: 12px;
      color: black;
      opacity: 0.5;
      font-weight: 500;
    }
  }
}