.WebFooter{
    padding: 90px 0 10px;
    background-color: #FFFFFF;
    
    .footer-top {
        .footer-menu {
            display: flex;
            justify-content: space-between;

            .submenu {
                // width: 20%;
                .menu-title {
                    font-family: Helvetica;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 17px;
                    color: #373737;
                    margin-bottom: 24px;
                }
                .menu-item {
                    font-family: Helvetica Light;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 24px;
                    color: #373737;
                    mix-blend-mode: normal;
                    margin-bottom: 10px;
                    display: block;
                    cursor: pointer;
                }
                .icon-group {
                    svg {
                        font-size: 32px;
                        margin-right: 15px;
                    }
                }
            }
        }
        .footer-company {
            margin: 60px auto 30px;
            width: 65%;
        }
    }
    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0 30px;
        position: relative;
        
        .copyright {
            font-family: Helvetica;
            font-size: 13px;
            line-height: 15px;
            color: #000000;
            mix-blend-mode: normal;
            opacity: 0.4;
        }

        .card-container {
            position: absolute;
            // width: 60%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            
            .card-img {
                width: auto;
                height: 27px;
                margin: auto 25px;
            }
        }

        &:before {
            content: '';
            width: 100vw;
            height: 2px;
            position: absolute;
            top: 0;
            left: calc(50% - 50vw);
            display: block;
            background-color: #D8D8D8;
            mix-blend-mode: normal;
        }
    }
}