.Subscribe {
  padding: 46px 0;
  background-color: '#FAFAFA' !important;

  .container {
    display: flex;
    flex-direction: row;

    .right {
      .email-input {
        width: 100%;
        border: none; 
        border-bottom: 1px solid black;
        outline: none;
      }
    }
  }
}    