.Subscribe {
  padding: 46px 0 32px;
  background: rgba(250, 250, 250, 1) !important;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left {
      h5 {
        margin-top: 10px;
        font-size: 25px;
        line-height: 45px;
        font-weight: 400;
      }
      p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 23px;
        font-weight: 300;
      }
    }
    .right {
      .email-input {

        width: 100%;
        border: none; 
        border-bottom: 1px solid black;
        outline: none;
      }
    }
  }
}    