.product {
    
    .product-container {
        background-color: #FAFAFA;
        max-width: 1440px;
        width: 100%;
        margin: auto;
        
        display: flex;

        .product-image {
            margin-left: 5%;
            padding: 0 5%;
            width: 55%;
            position: relative;
            
            .image-container {
                position: relative;
                width: 80%;
                margin: auto;

                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    
                    img {
                        width: 100%;
                        display: block;
                    }
                }

                .image-text {
                    font-family: Helvetica;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #000000;
    
                    position: absolute;
                    width: 100%;
                    bottom: 20px;

                    span {
                        color: red;
                    }
                }
            }

            .image-gallery {
                margin: 20px auto;
                display: flex;
                justify-content: space-between;

                .slick-slider {
                    width: 100%;

                    .slick-slide {
                        .image-wrapper {
                            padding-top: 100%;
                            position: relative;
        
                            .image {
                                position: absolute;
                                width: calc(100% - 10px);
                                height: calc(100% - 10px);
                                left: 5px;
                                top: 5px;
        
                                border: 0.4px solid #6A6A6A30;
                                box-sizing: border-box;
                                border-radius: 5px;
                                overflow: hidden;
                                
                                &.active {
                                    border: 1px solid #0A5566;
                                }
        
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        &.slick-current {
                            .image-wrapper {
                                .image {
                                    border: 1px solid #0A5566;
                                }
                            }
                        }
                    }
                }
            }
        }

        .product-detail {
            width: 40%;
            padding: 0 60px;
            background-color: #FFFFFF;

            .link {
                font-family: Helvetica;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #979797;
                mix-blend-mode: normal;
                cursor: pointer;

                margin-top: 15px;
            }

            .detail-title {
                font-family: Helvetica;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 37px;
                color: #000000;

                margin-top: 28px;

                span {
                    font-size: 14px;
                    line-height: 23px;
                }

                .price {
                    font-size: 27px;
                    color: #0A5566;
                    margin-right: 10px;
                }
            }

            .order {
                display: flex;
                align-items: center;
                font-family: Helvetica;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #0A5566;

                margin-top: 15px;
                
                .red {
                    color: red;
                }

                .MuiSvgIcon-root {
                    margin-right: 20px;
                }
            }

            .button-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                font-family: Helvetica;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                letter-spacing: 0.015em;

                margin-top: 15px;

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 54px;
                    width: 48%;
                    border: 1px solid #000000;
                    box-sizing: border-box;
                    border-radius: 5px;
                    cursor: pointer;

                    &.active {
                        background-color: #0A5566;
                        color: #FFFFFF;
                    }
                }
            }
            
            .property {
                margin-top: 25px;
            }
            
            .product-info {
                margin-top: 20px;

                .category {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #979797;

                    .item {
                        font-family: Helvetica;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 23px;
                        color: #5F5F5F;
                        padding-bottom: 20px;
                        position: relative;
                        cursor: pointer;
                        text-align: center;

                        &.active {
                            color: #0A5566;
                            font-weight: 600;
                            border-bottom: 1px solid #0A5566;
                        }
                    }
                }

                .detail {
                    margin-top: 15px;

                    .detail-text {
                        font-family: Helvetica Light;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 23px;
                        color: #000000;                        
                        margin-bottom: 30px;
                    }

                    .detail-content {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 40px 20px 30px;
                        background-color: #FAFAFA;

                        .content-image {
                            width: 120px;
                            img {
                                width: 100%;
                                display: block;
                            }
                        }


                        .content-text {
                            width: calc(100% - 150px);
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            font-family: Helvetica Light;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 23px;
                            color: #000000;
                            
                            div {
                                position: relative;
                                span {
                                    background-color: #FAFAFA;
                                    z-index: 1;
                                    position: relative;
                                    padding-right: 10px;
                                }
                                &:before {
                                    content: '';
                                    display: block;
                                    height: 1px;
                                    position: absolute;
                                    width: 100%;
                                    left: 0;
                                    top: 50%;
                                    background-color:#0A5566;
                                    z-index: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .product {
        .product-container {
            flex-direction: column;
            .product-image {
                padding: 0 10px;
                margin: auto;
                width: 100%;
                .image-container {
                    .image-text {
                        display: none;
                    }
                }
                .image-gallery {
                    margin: 10px auto;
                }
            }
            .product-detail {
                width: 100%;
                padding: 0 10px;

                .link {
                    display: none;
                }
                .detail-title {
                    margin-top: 15px;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                }
                .order {
                    .MuiSvgIcon-root {
                        margin-right: 10px;
                    }
                }
                .product-info {
                    .detail {
                        .detail-text {
                            margin-bottom: 20px;
                        }
                        .detail-content {
                            padding: 25px 33px 25px 20px;
                            .content-image {
                                width: 100px;
                            }
                            .content-text {
                                width: calc(100% - 110px);
                            }
                        }
                    }
                }
            }
        }
    }
}